.container {
  width: 100%;
  max-width: var(--container-max);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

@media (min-width: 768px) {
  .container {
    padding-left: calc(var(--container-padding) * 1.5);
    padding-right: calc(var(--container-padding) * 1.5);
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: calc(var(--container-padding) * 2);
    padding-right: calc(var(--container-padding) * 2);
  }
}